
{% extends 'base.html' %}

{% block content %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>


            <tbody>
                {% for item in expense%}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.count}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>


{% endblock content%}
