
{% extends 'base.html' %}

{% block content %}

        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>Vendor</tr>
            </thead>
            <thead>
                <tr>Total</tr>
            </thead>
            <thead>
                <tr>Tax</tr>
            </thead>
            <thead>
                <tr>Date</tr>
            </thead>
            <thead>
                <tr>Category</tr>
            </thead>
            <thead>
                <tr>Account</tr>
            </thead>

            <tbody>
                {% for item in receipt%}
                <tr>
                    <td>{{item.vendor}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.tax}}</td>
                    <td>{{item.date|date:'m/d/y'}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.account}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>


{% endblock content%}
